@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}

.accordination{
    font-family: 'Poltawski Nowy', serif;
}

.accordination-text{
    font-family: 'Della Respira', serif;
}

.heading{
    font-family: 'Niconne', cursive;

}

::selection{
     text-shadow: 5px 0.3px 25px black;
}



.swiper {
    width: 50%;
    min-height: 320px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    /* background-color: aquamarine; */
  }
  

  /* .    background: #252a33; */
  .react-terminal-wrapper{
    background-color: rgb(17 24 39 / 1) !important;
    border: 1px solid white !important;
  }
